
  
    <div style="background-color: beige !important;">
    <div class="container "  >
      
      <header
        class="d-flex flex-wrap justify-content-center py-3 mb-4 "
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0  me-md-auto link-body-emphasis text-decoration-none"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bluesky me-3" viewBox="0 0 16 16">
  <path d="M3.468 1.948C5.303 3.325 7.276 6.118 8 7.616c.725-1.498 2.698-4.29 4.532-5.668C13.855.955 16 .186 16 2.632c0 .489-.28 4.105-.444 4.692-.572 2.04-2.653 2.561-4.504 2.246 3.236.551 4.06 2.375 2.281 4.2-3.376 3.464-4.852-.87-5.23-1.98-.07-.204-.103-.3-.103-.218 0-.081-.033.014-.102.218-.379 1.11-1.855 5.444-5.231 1.98-1.778-1.825-.955-3.65 2.28-4.2-1.85.315-3.932-.205-4.503-2.246C.28 6.737 0 3.12 0 2.632 0 .186 2.145.955 3.468 1.948"/>
</svg>
          <span class="fs-4 ">The Digital Stack</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="/" class="nav-link " aria-current="page">Home</a>
          </li>
          <li class="nav-item"><a href="/create_blog" class="nav-link">Create Blog</a></li>
          <li class="nav-item"><a href="/your_blogs" class="nav-link">Your Blogs</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact us</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        </ul>
      </header>
    </div>
</div>

  
